
<h2>Book detail</h2>
<table class = "table">
  <tbody>
    <tr>
      <tb>
        <%= @book.user.name%>
        <%= image_tag @book.user.get_profile_image(100,100) %>
      </tb>
      <tb><%= @book.title %></tb>
      <tb><%= @book.body %></tb>
    </tr>
  </tbody>
</table>
